input {
    padding: 5px 25px 5px 25px;
    border:1px solid rgb(150, 148, 148);
    margin: 20px;
}

.search-container {
    display: flex;
    flex-direction: row;
    gap: left 40%;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.search-container input {
    height: 5vh;
    width: 25vh;
    font-size: large;
}