.pokedex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.next-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.main-title {
    text-align: center;
    font-size: 100px;
    color: white;
}