.pokedex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.next-container {
    display: flex;
    align-items: center;
}

button {
    align-self: center;
    margin: auto;
}

h1 {
    text-align: center;
}