.evolution-chain {
    max-width: 90px;
    max-height: 90px;
    margin: 15px;
    border: 4px solid black;
    border-radius: 10%;
    background-color: white;
}

.evolution-chain div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
}

.evolution-chain:hover {
   transform: scale(1.2);
   transition: ease-in-out;
}