.header-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li {
    margin: 10px;
}

.main-title {
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 55px;
}

button {
    height: 6vh;
    width: 13vh;
    font-size: 23px;
    font-weight: 400;
    border: 5px solid rgb(38, 212, 38);
    background-color: aliceblue;
    border-radius: 2%;
}

button:hover {
    border: 7px solid rgb(34, 34, 34);
    background-color: rgb(38, 212, 38);
}
